/* a=0 b=0 c=1 -> Especificidad = 1 */
body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: dimgrey;
    background-color: cornsilk;
}


/* a=0 b=1 c=2 -> Especificidad = 12 */
header > p:first-of-type{
    text-align: center;
    line-height: 1em;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
main{
    padding: 1em 3em;
    border: thin black solid;
    border-radius: 8px;
    margin: 1.5em;
    background-color: #FFF6E5;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
main ~ footer{
    text-align: center;
    line-height: 1em;
}

/* a=0 b=1 c=2 -> Especificidad = 12 */
main ~ footer > p:first-of-type{
    font-family: cursive;
}

/* a=0 b=1 c=2 -> Especificidad = 12 */
main ~ footer > a:first-of-type{
    text-decoration: none;
}

/* a=0 b=1 c=3 -> Especificidad = 13 */
main ~ footer > a:nth-of-type(2) > img{
    height: 64px;
    width: 63px; 
}

/* a=0 b=1 c=3 -> Especificidad = 13 */
main ~ footer > a:nth-of-type(3) > img{
    height: 31px;
    width: 88px; 
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
h1 {
    font-size: 3em;
    font-family: Luminari, fantasy; 
    background-color: burlywood; 
    color: saddlebrown;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;  
    text-shadow: 1px 1px cornsilk;
    margin-bottom: 0.2em;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
h2{
    margin: 0.5em 0em;
    color: black;
    font-size: 1.8em;
}

/* a=0 b=0 c=2 -> Especificidad = 2 */
h2::first-letter{
    font-size: 1.2em;
}

/* a=0 b=1 c=1 -> Especificidad = 11 */
a:link{
    color: saddlebrown;
}

/* a=0 b=1 c=1 -> Especificidad = 11 */
a:visited{
    color: #CE9872;
}

/* a=0 b=1 c=1 -> Especificidad = 11 */
a:active{
    color: #351B08;
    font-weight: bolder;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
table{
    border-collapse: collapse;
    margin: 2%;
    background-color: antiquewhite;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
td, tr, th{
    border: groove thin black;
    padding: 0.3em;
    text-align: center;
}

/* a=0 b=0 c=1 -> Especificidad = 1 */
th{
    color: white;
    background-color: #7F6246;
}

/* a=0 b=1 c=1 -> Especificidad = 11 */
tr:nth-child(odd) {
    background-color: #FFF2DF;
}

/* a=0 b=1 c=1 -> Especificidad = 11 */
tr:hover {
    background-color: #CCBCAE;
}